@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html {
    background-color: yellow;
    font-family: "Roboto" sans-serif;
    color: green;
}

body {
    height:100%;
    width:100%;
    }



.oldal {
    background-color: aliceblue;
    margin: -1% 10% 20%;
    padding: 5px 10px;
    
}

.linksHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    width: 18%;
    margin: auto;
    padding: 14px 25px;
    text-align: center;
    font-size: 10px;
    font-size: 1.5vw;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

.content {
    font-family: "Roboto", sans-serif;
    color: rgb(7, 90, 7);
    text-align: justify;
    font-size: 14px;
    margin: 10px;
    overflow: auto;
    }

.PromoHeader {
    font-family: "Opensans", sans-serif;
    color: brown;
    text-align: left;
    font-size: 20px;
    margin: 10px;
}
h1 {
    font-family: "Opensans", sans-serif;
    color: brown;
    text-align: center;
    overflow: auto;
}
#index {
    size:"150%";
}
h2 {
    font-family: "Roboto" sans-serif;
    color: brown;
    text-align: justify;
}
.akciok {
    background-color: rgb(223, 165, 117);
    margin:20px;
    padding: 10px 10px;
    border:1px solid black; 
    border-radius: 10px;  
    box-shadow: brown 3px 3px 10px;
    
}


.kepek {
    overflow: auto;
    margin: 0 10px;
    float: right;
    
}

.etlap {
    width: 100%;
    border: none;
}

table,
    th {
        text-align: left;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(7, 189, 7);
        font-style: italic;
        
    }
    td {
        width: 50%;
        text-align: left;
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: green;
        font-style: normal;
    }

tbody tr:nth-child(even)
  {
    background-color: burlywood;
  }
  tbody tr:nth-child(odd)
  {
    background-color: rgb(182, 148, 104);
  }
  tbody col:first-child (1) {
      width: 50%;
      
  }
  
  tbody {
      text-align: left;
  }
table,th,td {
  border-collapse: collapse;
}
.jobbikon {
    text-align: right;
}

.product {
    width: 25px;
}


