@font-face {
    font-family: "pmarker";
    src: url(fonts/PermanentMarker-Regular.ttf);
    font-weight: 500;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

table,
    th {
        text-align: center;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(7, 189, 7);
        font-style: italic;
        
    }
    td {
        text-align: left;
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: green;
        font-style: normal;
    }
p {
    color: green;
    font-size: 24 px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    line-height: normal;

}
h1 {
    color: brown;
    font-size: 32 px;
    font-family: "Opensans", sans-serif;
    text-align: left;
}
h2 {
    color: brown;
    font-size: 32 px;
    font-family: "Opensans", sans-serif;
    text-align: left;
}
h3 {
    color: brown;
    font-size: 32 px;
    font-family: "Opensans", sans-serif;
    text-align: justify;
}