@font-face {
    font-family: "pmarker";
    src: url(fonts/PermanentMarker-Regular.ttf);
    font-weight: 500;
}

table,
    th {
        text-align: center;
        font-size: large;
        font-family: "pmarker";
        color: chartreuse;
        
    }
    td {
        text-align: left;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        color: darkblue;
    }